<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="Default">
            <directory>./tests/Migration/E2E/Sources/Mocks</directory>
        </testsuite>
        <testsuite name="Live">
            <directory>./tests/Migration/E2E/Sources/Live</directory>
        </testsuite>
    </testsuites>
</phpunit>